.pagination {
  max-width: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 30px;
  margin-inline: auto;
}

.pagination__btn {
  padding-block: 16px;
  padding-inline: 22px;
  background-color: coral;
  border-radius: 50%;
  font-weight: bold;
  font-size: 20px;
  border: none;
  cursor: pointer;
  transition: all 0.3s;
}

.btn_next:active:not([disabled]) {
  transform: translateX(10px);
}

.btn_prev:active:not([disabled]) {
  transform: translateX(-10px);
}

.pagination__btn:hover:not([disabled]) {
  background-color: chocolate;
}

.pagination__page {
  font-size: 25px;
  font-weight: bold;
}
