* {
  margin: 0;
  padding: 0;
}

input,
select {
  outline: none;
}

.app {
  height: 100%;
  min-height: 100vh;
  background-color: rgb(197, 197, 255);
}

.app__splitted {
  display: flex;
}

.error-message {
  text-align: center;
  color: red;
  margin-top: 30px;
}
