.passwordStr {
  position: absolute;
  inline-size: 100%;
  block-size: auto;
  top: 85%;
}

.proggress {
  block-size: 5px;
  max-inline-size: 500px;
  border-radius: 30px;
  background-color: aliceblue;
}

.proggress__bar {
  block-size: 100%;
  transition: all 0.5s ease;
}

.proggress__bar_bad {
  inline-size: 33.3%;
  background-color: red;
}

.proggress__bar_middle {
  inline-size: 66.6%;
  background-color: yellow;
}

.proggress__bar_good {
  inline-size: 100%;
  background-color: green;
}

.passwordStr__message {
  max-inline-size: 500px;
  font-size: 12px;
}
