.wrapper {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: blueviolet;
}

.message {
  color: yellow;
  font-size: 25px;
}

.button_back {
  padding-block: 15px;
  padding-inline: 15px;
  font-size: 20px;
  background-color: antiquewhite;
  border-radius: 10px;
}
